<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Dịch Vụ Công.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>A44E216A611C5844866E1DF834F126868B1F60F5</string>
				<key>dateExpires</key>
				<string>18/12/2021</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>PBXWK9W3QP.vn.gov.moh.dichvucong</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.icloud-container-environment</key>
				<string>Production</string>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array/>
				<key>com.apple.developer.icloud-services</key>
				<array>
					<string>CloudDocuments</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>PBXWK9W3QP</string>
				<key>com.apple.developer.ubiquity-container-identifiers</key>
				<array/>
				<key>com.apple.developer.ubiquity-kvstore-identifier</key>
				<string>PBXWK9W3QP.vn.gov.moh.dichvucong</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Dịch Vụ Công.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0b67f082-5aeb-4c2e-8217-e4274fd7a62d</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: vn.gov.moh.dichvucong</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>PBXWK9W3QP</string>
				<key>name</key>
				<string>DTT TECHNOLOGY JOINT STOCK COMPANY</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
