<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DTTOTP.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>ADFF2CB7219D5C1B022E64788189B8FDBD601ABE</string>
				<key>dateExpires</key>
				<string>2/9/21</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>PBXWK9W3QP.vn.dtt.vnpost.otp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>PBXWK9W3QP</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>PBXWK9W3QP.vn.dtt.vnpost.otp</string>
				</array>
			</dict>
			<key>name</key>
			<string>PostID OTP.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>bee5ce50-2377-4749-9e3f-6ade395f7d19</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>PBXWK9W3QP</string>
				<key>name</key>
				<string>DTT TECHNOLOGY JOINT STOCK COMPANY</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
